<!doctype html>
<html>

<head>
  <title>Movie Muse Club</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="profile.css">
</head>

<body>
  <div class="container">
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>

    <div class="page-header text-center">
      <h1>Movie List</h1>
    </div>

    <div class="col-sm-5">
      <p>Enter your favorite movie you've ever watched with the title and year.</p>
      <p>Members can heart any movie on the list so they can watch later.</p>


      <h2>Add a book</h2>
      <form action="/messages" method="POST">
        <input style="display: none" type="text" value="<%= user.local.email%>" name="name">
        <input type="text" placeholder="title" name="msg">
        <input type="text" placeholder="year" name="date">
        <button type="submit">Submit</button>
      </form>


      <h2>Book List</h2>
      <tbody>
        <table>
            <th class="top">Name</th>
            <th class="top">Title</th>
            <th class="top">Year</th>
            <th class="top"></th>
            <th class="top"></th>
            <th class="top"></th>
          <% for(var i=0; i<messages.length; i++) {%>
          <tr class="message">
            <th class="side"><%=messages[i].name%></th>
            <th class="side"><%=messages[i].msg%></th>
            <th class="side"><%=messages[i].date%></th>
            <% if(messages[i].heart === true){ %>
        <th style="color:red"><i class="fas fa-heart"></i></th>
          <% } else { %>
        <th><i class="fas fa-heart"></i></th>
        <% } %>
            <% if(user.local.email == messages[i].name) { %>
       <th><i class="fa fa-trash" aria-hidden="true"></i></th>
       <% } %>

          </tr>
          <% } %>
        </table>
      </tbody>
    </div>

  </div>

  <script src="main.js"></script>

</body>

</html>
